@model mbsoft.BrewClub.Website.Models.Articles.ArticlesViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    PageTitle = Localizer.Localize(LocalizedStringKeys.ArticlesTitle);
}

<div>
    <a href="@Url.Action("create")" class="btn btn-success" role="button">@Localizer.Localize(LocalizedStringKeys.ArticleCreateArticleLinkText)</a>
</div>

<p></p>

<div class="list-group">
    @foreach (var article in Model.ArticleListItems)
    {
        <div class="list-group-item">
            <a href="@Url.Action("details", new { articleID = article.ArticleId })" class="list-group-item-heading">
                <h4>                    
                    @article.Title
                </h4>
            </a>
            <p class="label label-default">@article.CommentCount.ToString()</p>
            <p class="label label-info label-pill">@article.AuthorName</p>
            <p class="label label-info label-pill">@article.LastActivity.ToString()</p>
        </div>
    }
</div>
