@model mbsoft.BrewClub.Website.Models.Articles.ArticleDeleteViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    PageTitle = Localizer.Localize(LocalizedStringKeys.ArticlesTitle);
}

@using (Html.BeginForm("DeleteConfirmed", "Articles", new { articleID = Model.ArticleID }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Localizer.Localize(LocalizedStringKeys.ArticleDeleteArticleHeader)</h4>
        <hr />
        @Html.HiddenFor(model => model.ArticleID)

        <div class="panel panel-primary panel-posted-item">
            <div class="panel-heading panel-posted-item-heading">
                <h3 class="panel-title posted-item-title">
                    @Html.DisplayFor(model => model.Title)
                </h3>
            </div>

            <div class="panel-body posted-item-body">
                <p>@Html.DisplayFor(model => model.Body)</p>
            </div>

            <div class="panel-footer panel-posted-item-footer">
                <p class="label label-info label-pill label-posted-item-detail">@Model.AuthorName </p>
                <p class="label label-info label-pill label-posted-item-detail">@Model.DateCreated.ToString() </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>

}