@model mbsoft.BrewClub.Website.Models.Articles.DeleteCommentViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    PageTitle = Localizer.Localize(LocalizedStringKeys.ArticlesTitle);
}

@using (Html.BeginForm("DeleteCommentConfirmed", "Articles", new { commentID = Model.ArticleCommentID, articleID = Model.ArticleID }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Localizer.Localize(LocalizedStringKeys.ArticleDeleteCommentHeader)</h4>
        <hr />
        @Html.HiddenFor(model => model.ArticleID)

        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Body)</dt>
            <dd>@Html.DisplayFor(model => model.Body)</dd>

            <dt>@Html.DisplayNameFor(model => model.DateCreated)</dt>
            <dd>@Html.DisplayFor(model => model.DateCreated)</dd>

            <dt>@Html.DisplayNameFor(model => model.AuthorName)</dt>
            <dd>@Html.DisplayFor(model => model.AuthorName)</dd>
        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </div>
    </div>

}