

<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<!-- this button and spans serves as the mobile menu on small screens. -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">@Localizer.Localize("Toggle navigation")</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">@Localizer.Localize(LocalizedStringKeys.BrewClubName)</a>
		</div>
		<div id="navbar1" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				@if (CurrentUser == null)
				{
					<li><a href="@Url.Action("LoginRegister", "Account")">@Localizer.Localize("Log In / Register")</a></li>
					@*<li><a href="@Url.Action("Register", "Account")">@Localizer.Localize("Register")</a></li>*@
				}
				else
				{
					<li><a href="@Url.Action("ViewProfile", "Account", new { username = CurrentUser.UserName })">@CurrentUser.UserName</a></li>
					<li><a href="#">@Localizer.Localize("Post")</a></li>
					<li><a href="@Url.Action("Logout", "Account")">@Localizer.Localize("Logout")</a></li>
				}
				<li><a href="@mbsoft.BrewClub.Website.Controllers.ContactController.ContactRouteUrl">@Localizer.Localize(LocalizedStringKeys.ContactTitle)</a></li>
			</ul>
		</div><!--/.nav-collapse -->
		<div id="navbar2" class="">
			<ul class="nav navbar-nav">
				<li class="active"><a href="@Url.Action("Index", "Home")">@Localizer.Localize("Home")</a></li>
				<li><a href="#">@Localizer.Localize("Recipes")</a></li>
				<li><a href="#">@Localizer.Localize("Buy and Sell")</a></li>
				<li><a href="#">@Localizer.Localize("Member Posts")</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>